# database name (should be "woc_prod" for production, "woc_dev" for development etc.)
DB_NAME= 
# default password for the database root user
DB_ROOT_PASSWORD=
# database's liquibase role password
DB_LIQUIBASE_PASSWORD=
# database's app role password
DB_APP_PASSWORD=

# default pgAdmin email
PGADMIN_EMAIL=
# default pgAdmin password
PGADMIN_PASSWORD=
