# database name (should be "woc_prod" for production, "woc_dev" for development etc.)
DB_NAME=woc_dev
# default password for the database root user
DB_ROOT_PASSWORD=
# database's liquibase role password
DB_LIQUIBASE_PASSWORD=
# database's app role password
DB_APP_PASSWORD=

# database host used by the REST API
API_DB_HOST=localhost
# secret key for API's JWTs
API_JWT_SECRET_KEY=

# default pgAdmin email
PGADMIN_EMAIL=
# default pgAdmin password
PGADMIN_PASSWORD=
